body {
	color: #cccccc;
	font-family:Monospace;
	font-size:13px;
	text-align:center;

	background-color: #050505;
	margin: 0px;
	overflow: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

}

#cv{

}

a {
	color: #0080ff;
}
#controls{
	position: absolute;
	bottom: 10%;
}

#cbwater{
	width:	100%;	
}

.movable{

	background-color: rgba(255, 255, 255, 0.5);
	color:  black;
	position: absolute;

	left: 50%;
	/*right: 0px;*/
	bottom: 0px;

	width: 50px;
	height: 50px;

	text-align: center;

}

.mipanel{
	position: absolute;
	
	/*background-color: rgba(10, 10, 10, 0.5);

	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 8px;*/

	top: 20%;
	left: 2%;

	width: 20%;
	height: 70%;
}

.btn{
	opacity: 0.5;

	/*
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 8px;*/

	margin: 20px 0px 10px 0px;
}
.glyphicon{
	opacity: 1.0;
	font-size: xx-large;
}

.form-control{
	opacity: 0.5;
}


.modal-content {
	background: #3a3a3a;
	-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
	border: 0;
	text-align: left;
}

.modal-header {
	padding: 25px 25px 15px 25px;
	background: rgba(232, 232, 232, 0.94);
	border: 0;
	-moz-border-radius: 8px 8px 0 0; -webkit-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0;
	color: #635c5c;
}

.modal-footer {
	padding: 25px 25px 15px 25px;
	background: rgba(232, 232, 232, 0.94);
	border: 0;
	color: #635c5c;
	-moz-border-radius: 0 0 8px 8px; -webkit-border-radius: 0 0 8px 8px; border-radius: 0 0 8px 8px;

}

.modal-header .close {
	font-size: 36px;
	color: #eee;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

.modal-title {
	margin-bottom: 10px;
	line-height: 30px;
	color: #635c5c;
	font-size: 28px;
}

.modal-body {
	padding: 5px 25px 30px 25px !important;
	background: rgba(240, 240, 240, 0.94);
	text-align: left;
	color: #635c5c;
}

.modal-body h3{
	color: #484848;
	font-weight: 300;
	margin-bottom: 20px;
}

.modal-body img {
	margin-bottom: 15px;
}

#container {
	cursor: pointer;
}

