.popover{
	width: 25%;
	max-width:500px;
}
body{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow: hidden;
}
.btn-pin-info{
	opacity:1.0;
	margin: 15px 0px 0px 0px;
}

#cv{

}

a {
	color: #00b6dd;
}
a:hover{
	color: #00b6dd;
}
#controls{
	position: absolute;
	bottom: 10%;
}

.movable{

	background-color: rgba(255, 255, 255, 0.5);
	color:  black;
	position: absolute;

	left: 50%;
	/*right: 0px;*/
	bottom: 0px;

	width: 50px;
	height: 50px;

	text-align: center;

}

.mipanel{
	position: absolute;

	/*background-color: rgba(10, 10, 10, 0.5);

	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 8px;*/

	top: 20%;
	left: 2%;

	width: 20%;
	height: 70%;
}

/*.btn{*/
	/*opacity: 0.5;*/

	/*
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 8px;*/

	/*margin: 20px 0px 10px 0px;*/
/*}*/
.glyphicon{
	opacity: 1.0;
	font-size: x-large;
}

.form-control{
	opacity: 0.5;
}



.modal-content {
	background: #3a3a3a;
	-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
	border: 0;
	text-align: left;
}

.modal-header {
	padding: 25px 25px 15px 25px;
	border: 0;
	-moz-border-radius: 8px 8px 0 0; -webkit-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0;
}

.modal-footer {
	padding: 25px 25px 15px 25px;
	background: rgba(232, 232, 232, 0.94);
	border: 0;
	color: #272727;
	-moz-border-radius: 0 0 8px 8px; -webkit-border-radius: 0 0 8px 8px; border-radius: 0 0 8px 8px;

}

.modal-header .close {
	font-size: 36px;
	color: #898989;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

.modal-title {
	margin-bottom: 10px;
	line-height: 30px;
	color: #635c5c;
	font-size: 28px;
}

.modal-body {
	padding: 5px 25px 30px 25px !important;
	background: rgba(240, 240, 240, 0.94);
	text-align: left;
	color: #635c5c;
}

.modal-body h3{
	color: #484848;
	font-weight: 300;
	margin-bottom: 20px;
}

.modal-body img {
	margin-bottom: 15px;
}

#container {
	cursor: pointer;
}
.timer {
	background-color: #cbcbcb;
    border-radius: 6px;
    margin: 10px;
}

.logos {
	max-width: 48%;
	padding: 17px 10px 10px;
	float: left;
}

.tsunami-color-default{
	/*background: #101010 !important;*/
	background: #2d3037 !important;
}

.tsunami-color-highlight{
	background: #484c54 !important;
}
.tsunami-font-main{
	color: #fff  !important;
}
.tsunami-font-second{
	color: #9d9d9d  !important;
}
.tsunami-font-third{
	color: #d4d4d4 !important;
}
